<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510427022883-k7ho56ad5k26rti8aqrmm3te4da9ma6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510427022883-k7ho56ad5k26rti8aqrmm3te4da9ma6l</string>
	<key>API_KEY</key>
	<string>AIzaSyAzeLS8qFGblpcc4EkLN5yeMxbz7u1RYao</string>
	<key>GCM_SENDER_ID</key>
	<string>510427022883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizloco</string>
	<key>PROJECT_ID</key>
	<string>quizloco-83770</string>
	<key>STORAGE_BUCKET</key>
	<string>quizloco-83770.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510427022883:ios:ee360ca5f717a068a59396</string>
</dict>
</plist>